<div class="d-flex flex-row mb-2" style="justify-content: space-between;">
  <div>
    <h1 class="title"><%= nome %></h1>
    <p class="paragraph"><%= descricao %></p>  
  </div>
  <img id="imgCharacter" src="<%= imgsrc %>" height="300px">
</div>

<br>

<div id="border-orange-800" class="p-3 w-100 text-break">
  <h2 class="title">Drop</h2>
  <p class="paragraph"><%= drop %></p>
</div>

