<div class="d-flex flex-row mb-2" style="justify-content: space-between;">
  <div>
    <h1 class="title"><%= nome %></h1>
    <p class="paragraph"><%= descricao %></p>  
  </div>
  <img id="imgCharacter" src="<%= imgsrc %>" height="300px">
</div>

