<li class="nav-item py-2">
    <a href="/bosses/<%= bossId %>" class="nav-link <%= selected == bossId ? 'bg-orange-600' : '' %>"
        aria-current="page">
        <img src="/images/heroe.png" class="bi me-2" width="24" height="24">
        <%= nomeBoss %>
    </a>
</li>