<div id="sidebar" class="col-12 col-md-2 order-2 order-md-1">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light w-100 h-100 min-vh-100">
        <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">Menu</span>
        </a>
        <hr class="bg-secondary">
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <button class="btn btn-toggle align-items-center rounded collapsed text-dark w-100 text-start"
                    data-bs-toggle="collapse" data-bs-target="#bosses-collapse" aria-expanded="false">
                    Bosses
                </button>
                <div class="collapse" id="bosses-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-3">
                        <li><a href="#" class="link-dark">Boss 1</a></li>
                        <li><a href="#" class="link-dark">Boss 2</a></li>
                        <li><a href="#" class="link-dark">Boss 3</a></li>
                    </ul>
                </div>
            </li>
            <li class="mt-2">
                <button class="btn btn-toggle align-items-center rounded collapsed text-dark w-100 text-start"
                    data-bs-toggle="collapse" data-bs-target="#places-collapse" aria-expanded="false">
                    Places
                </button>
                <div class="collapse" id="places-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-3">
                        <li><a href="#" class="link-dark">Place 1</a></li>
                        <li><a href="#" class="link-dark">Place 2</a></li>
                        <li><a href="#" class="link-dark">Place 3</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <hr class="bg-secondary">
    </div>
</div>