<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid justify-content-center">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="/images/solaire.jpeg" alt="Logo" width="40" height="40" class="me-2">
                <span class="fs-4">Solaire's Wiki</span>
            </a>
        </div>

    </nav>
</header>