<div id="sidebar" class="col-12 col-md-2 order-2 order-md-1 bg-dark">
   <div class="d-flex flex-column flex-shrink-0 p-3 bg-orange-800 w-100">
      <% /* <a href="/characters"
         class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
         <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap" />
         </svg>
         <span class="fs-4">Personagens</span>
         </a> */ %>

         <h1 class="text-light">Chefes</h1>
         <hr>
         <ul class="nav nav-pills flex-column mb-auto">
            <% bossesList.forEach(boss=> { %>
               <%- include('./btnBoss', { idBoss: boss.id, nome: boss.nome }) %>
                  <% }) %>
         </ul>
         <hr>

         <h1 class="text-light">Lugares</h1>
         <hr>
         <ul class="nav nav-pills flex-column mb-auto">
            <% placesList.forEach(place=> { %>
               <%- include('./btnPlace', { idPlace: place.id, nome: place.nome }) %>
                  <% }) %>
         </ul>
         <hr>
   </div>
</div>